body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 1em;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#hero {
    background: url('LOGO.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content h1 {
    font-size: 4em;
    margin: 0;
}
    /* Hide the menu links initially on small screens */
    @media (max-width: 768px) {
        nav ul {
            display: none;
            flex-direction: column;
            width: 100%;
        }

        nav ul.active {
            display: flex;
        }

        .menu-toggle {
            display: block;
            cursor: pointer;
        }

        .menu-toggle div {
            width: 30px;
            height: 4px;
            background-color: white;
            margin: 5px 0;
        }
    }

   /* Hamburger menu icon */
   .menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* Hide navigation links initially on small screens */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
#currentUser {
    font-size: 2em;
    color: #2c3e50;
    font-weight: bold;
    margin-top: 10px;
  }
  
